<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">   -->
  <title>Hyrule Stays</title>
</head>
<body>
    <header>
        <nav>
            <ul class="left">
                <img src="../../public/images/320px-ALBW_Triforce_Artwork.png" alt="Triforce">
                <div>
                    <% if (user) { %>
                    <a href="/logout">Log Out</a>
                    <% } else { %>
                    <a href="/auth/google">Login with Google</a>
                    <% } %>
                </div>
            </ul>
            <ul class="right">
                <div><a href="/stays">HOME</a></div>
                <div><a href="">REGIONS</a></div>
                <div> <% if (user) { %>
                    <a href="/users/<%= user._id %>">ACCOUNT</a>
                <% } %>
                </div>
            </ul>
        </nav>
    </header>
